@import "varAndMixins"; // Data Sheet 

// Internal Style Rules 

.download {
    text-align: center; 
}

#resume { 
    .education {
        margin-left: 5%;
    }

    .job {
	ul {
	    list-style-type: none;
	    -webkit-padding-start: 0.5em; /* fix indentation in Chrome */
	    li {
		background-image: url(../images/cog-3.png);
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 16px;
	    }
	}
    }

    .skills {
        @extend .education; 
    }

    // Tags 
    h1, h3, h4, h5, h6 {
        @include marginFix;
        display: inline; 
    }
}

#portfolio {
    .developer, .designer {
        text-align: left;
    }

    // Tags 
    h1, h5, h6 {
        @include marginFix;
        float: left;
        margin: 2%;
    }
    h3 {
        @include marginFix;
    }
    h4 {
        @include marginFix;
        margin-bottom: 1%;
    }
}