@import "varAndMixins"; // Data Sheet 

// Top Level Rules 

body {
    @include backgroundTexture("../images/dark_geometric.png", #000000);
    font: {
        size: $fontSize;
        family: $mainFont; 
    }
    color: $green; 
}

// Page Elements

#content {
    margin-top: $navHeight;
    margin-bottom: $footerHeight;
}

#nav {
//    background-color: $navColor;
    position: fixed;
    top: 0px;
//    left: 0px; // Remove to fix positioning - we want it centered 
    text-align: center;
    width: 100%;
    height: $navHeight;
    z-index: 1000; 
    
    padding: 1%;

    // Nav Buttons 
    ul {
        display: inline;
        list-style-type: none;
	li {
	    font: {
		family: $specialFont;
		size: 18px;
	    }
	    color: $special;
	    background-color: $navColor;
	    border: 0px;

	    @include corners($highlight, 5px, 5px, 5px, 5px);
	    -webkit-appearance: none; /* fix nav buttons in iOS */

	    @include gradient(lighten($navColor, 12%), darken($navColor, 12%), 100%);
	}
    }
}

#footer {
    width: 100%;
    height: $footerHeight;
    font: {
        size: 0.8em;
    }
    text-align: center;
    clear: both; 
    margin-top: 10%;
    padding: 1% 0% 5% 0%;
}

// Classes

.background {
//    background-color: $contentColor; // Commenting out to test gradients 
    @include gradient(darken($contentColor, 10%), lighten($contentColor, 5%), 50%);
    @include corners(darken($contentColor, 10%), 5px, 5px, 5px, 5px);
    margin-top: 2%;
    marging-bottom: 3%;
    padding: 1%;
}
.clientLogo {
    background-color: darken($highlight, 5%); 
    color: $special;
    font: {
        family: $specialFont; 
    }
    text-align: center;
}


.clientLogo-Des {
    @extend .clientLogo;
    @include backgroundTexture("../images/cartographer-colored.png", lighten($contentColor, 5%));
}
.clientLogo-Dev {
    @extend .clientLogo;
    @include backgroundTexture("../images/robots-colored.png", lighten($contentColor, 5%));
}

.designer {
    @extend .background;
    @include divFix;
    @include backgroundTexture("../images/cartographer-Colored.png", lighten($contentColor, 5%));
    text-align: left;

    padding-left: 1%;
} 

.developer {
    @extend .background;
    @include divFix;
    @include backgroundTexture("../images/robots-Colored.png", lighten($contentColor, 5%));
    text-align: right;

    padding-right: 1%;
} 

.header {
    text-align: center; 
}

.portPreview {
    padding: 2% 0% 3% 0%;
}

.socialBox {
    @include gradient(darken($contentColor, 10%), lighten($contentColor, 5%), 40%);
    @include corners(darken(mix($contentColor, $special, 30%), 0%), 3px, 3px, 3px, 3px);
    color: $special;
    font: {
        family: $mainFont;
        weight: 700;
    }
    height: 25%;
    padding-top: 5%;
    padding-bottom: 10%;

    h3 {
        text-align: center;
    }

    ul {
        line-height: 2em;
        font-size: 0.75em;
        text-align: left;
        list-style-type: none;
        -webkit-padding-start: 0.5em; /* fix indentation in Chrome */
        li {
	    background-image: url(../images/cog-3.png);
	    background-repeat: no-repeat;
            background-position: left center;
	    padding-left: 16px;
        }
    }
}

.subHeader {
    text-align: right;
    font-style: italic;
}

// tags 

h1, h2, h3, h4, h5,h6 {
    font-family: $specialFont;
}

