@import "varAndMixins"; // Data Sheet 

// Top Level Rules 

body {
    background: #000000 url("../images/dark_geometric.png");
    backgground-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;

    font: {
        size: $fontSize;
    }
}

// Page Elements

#content {
    margin-top: $navHeight;
}

#nav {
//    background-color: $navColor;
    position: fixed;
    top: 0px;
//    left: 0px; // Remove to fix positioning - we want it centered 
    width: 100%;
    height: $navHeight;
}

// tags 

input[type="button"], input[type="submit"], input[type="reset"] {
    width: 100%;
    font: {
        weight: 700;
    }
    background-color: $navColor;
    border: 0px;
}