// Variables and Mixins for maxbrother.com go here 
// Colors 
// Color Pallet:

// Primary Color 
// $mainColor: #ff6a00;

// Text Color
$text: #1E786C;

// Color for Sidebar and Footer 
$navColor: #2d5291;
$highlight: #7C98CB;
$contentColor: darken(#34496D, 12%);
$special: #d89f34;

$green: lighten(#18ac32, 7%);

// Dimensions 
$navHeight: 24px;
$footerHeight: 20px;

// Fonts
// Play with the font familys in testFont1.scss and testFont2.scss

@import "./sass/testFont2.scss"; 
$fontSize: 14px;


// Mixins 

// rounded corners for the content box
@mixin backgroundTexture($file, $fallBack) {
    background:$fallBack url($file);
    backgground-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;
}

@mixin corners($color, $top, $right, $bottom, $left) {
    border-radius: $top $right $bottom $left; // 5px 5px 0px 0px
    -moz-border-radius:  $top $right $bottom $left; // 5px 5px 0px 0px
    -webkit-border-radius: $top $right $bottom $left; // 5px 5px 0px 0px
    border: 3px solid $color;
}

@mixin divFix {
    /* fix for box model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    x-sizing: border-box;
}

@mixin gradient($gStart, $gEnd, $length) {
    background: mix($gStart, $gEnd); /* Old browsers */
    background: -moz-linear-gradient(top,  $gStart 0%, $gEnd $length); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gStart), color-stop($length,$gEnd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $gStart 0%,$gEnd $length); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $gStart 0%,$gEnd $length); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $gStart 0%,$gEnd $length); /* IE10+ */
    background: linear-gradient(to bottom,  $gStart 0%,$gEnd $length); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gStart', endColorstr='$gEnd',GradientType=0 ); /* IE6-9 */
}

@mixin marginCenter {
    margin-left: auto;
    margin-right: auto;
}