.sass-cache/
1Global.asax
1Global.asax.vb
Assets/
Default.aspx.designer.vb
_notes/
compass
config.rb
designNotes.org
designNotes.org~
images/_notes/
images/old/
mbSite2.pidb
mbSite2.vbproj
raw/
sass/designSpec.org
sass/designSpec.org~
sass/internal.scss~
sass/old_main.scss
sass/testFont1.scss
sass/testFont2.scss
sass/testFont2.scss~
statusDump.txt
style/_notes/
style/old_main.css
style/testFont1.css
style/testFont2.css
styles/