@import url(http://fonts.googleapis.com/css?family=Fenix|Poiret+One|Anton);
body {
  background: black url("../images/dark_geometric.png");
  backgground-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
  font-size: 14px; }

#content {
  margin-top: 7%; }

#nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 7%; }

input[type="button"], input[type="submit"], input[type="reset"] {
  width: 100%;
  font-weight: 700;
  background-color: #2d5291;
  border: 0px; }
