@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic|Vollkorn:400italic,400,700);
body {
  background: black url("../images/dark_geometric.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
  font-size: 14px;
  font-family: "Ubuntu", times, sans-serif;
  color: #1ccb3b; }

#content {
  margin-top: 24px;
  margin-bottom: 20px; }

#nav {
  position: fixed;
  top: 0px;
  text-align: center;
  width: 100%;
  height: 24px;
  z-index: 1000;
  padding: 1%; }
  #nav ul {
    display: inline;
    list-style-type: none; }
    #nav ul li {
      font-family: "Vollkron", "comic sans", courier, serif;
      font-size: 18px;
      color: #d89f34;
      background-color: #2d5291;
      border: 0px;
      border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border: 3px solid #7c98cb;
      -webkit-appearance: none;
      /* fix nav buttons in iOS */
      background: #2d5291;
      /* Old browsers */
      background: -moz-linear-gradient(top, #3b6cc0 0%, #1f3862 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b6cc0), color-stop(100%, #1f3862));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #3b6cc0 0%, #1f3862 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #3b6cc0 0%, #1f3862 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #3b6cc0 0%, #1f3862 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #3b6cc0 0%, #1f3862 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gStart', endColorstr='$gEnd',GradientType=0 );
      /* IE6-9 */ }
  #nav a {
    color: #d89f34;
    text-decoration: none;
    display: inline-block;
    width: 97%; }
    #nav a:visited {
      color: #b68323; }
    #nav a:hover {
      color: #1ccb3b; }

#footer {
  width: 100%;
  height: 20px;
  font-size: 0.8em;
  text-align: center;
  clear: both;
  margin-top: 5%;
  padding: 1% 0% 5% 0%; }

.background, .designer, .developer {
  background: #1c273b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #101621 0%, #283955 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #101621), color-stop(50%, #283955));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #101621 0%, #283955 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #101621 0%, #283955 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #101621 0%, #283955 50%);
  /* IE10+ */
  background: linear-gradient(to bottom, #101621 0%, #283955 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gStart', endColorstr='$gEnd',GradientType=0 );
  /* IE6-9 */
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 3px solid #101621;
  margin-top: 2%;
  marging-bottom: 3%;
  padding: 1%; }

.clientLogo, .clientLogo-Des, .clientLogo-Dev {
  border-radius: 5px 5px 5px 5ppx;
  -moz-border-radius: 5px 5px 5px 5ppx;
  -webkit-border-radius: 5px 5px 5px 5ppx;
  border: 3px solid #577bbd;
  /* fix for box model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  x-sizing: border-box;
  background-color: #6a8ac4;
  color: #d89f34;
  font-family: "Vollkron", "comic sans", courier, serif;
  text-align: center;
  height: 100px;
  padding: 2%; }

.clientLogo-Des {
  background: #283955 url("../images/cartographer-colored.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left; }

.clientLogo-Dev {
  background: #283955 url("../images/robots-colored.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left; }

.designer {
  /* fix for box model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  x-sizing: border-box;
  background: #283955 url("../images/cartographer-Colored.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
  text-align: right;
  padding-right: 1%; }
  .designer p {
    /* Fix for webkit margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; }

.developer {
  /* fix for box model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  x-sizing: border-box;
  background: #283955 url("../images/robots-Colored.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
  text-align: right;
  padding-right: 1%; }
  .developer p {
    /* Fix for webkit margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; }

.header {
  text-align: center; }

.headerFlyout1 {
  background: #0e671e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #169f2e 0%, #072f0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #169f2e), color-stop(100%, #072f0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #169f2e 0%, #072f0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #169f2e 0%, #072f0e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #169f2e 0%, #072f0e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #169f2e 0%, #072f0e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gStart', endColorstr='$gEnd',GradientType=0 );
  /* IE6-9 */
  position: relative;
  top: -20px;
  left: -15%;
  padding-bottom: 1%;
  width: 40%;
  text-align: center;
  /* Getting a little crazy here */ }
  .headerFlyout1 h3 {
    /* Fix for webkit margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #d89f34;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 5%; }
  .headerFlyout1 + * {
    clear: both; }
  .headerFlyout1:first-child {
    color: #d89f34; }

.portPreview {
  /* fix for box model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  x-sizing: border-box;
  padding: 2% 0% 3% 0%; }

.socialBox {
  background: #1c273b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #101621 0%, #283955 40%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #101621), color-stop(40%, #283955));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #101621 0%, #283955 40%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #101621 0%, #283955 40%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #101621 0%, #283955 40%);
  /* IE10+ */
  background: linear-gradient(to bottom, #101621 0%, #283955 40%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gStart', endColorstr='$gEnd',GradientType=0 );
  /* IE6-9 */
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 3px solid #a07c38;
  color: #d89f34;
  font-family: "Ubuntu", times, sans-serif;
  font-weight: 700;
  height: 25%;
  padding-top: 5%;
  padding-bottom: 10%; }
  .socialBox h3 {
    text-align: center; }
  .socialBox ul {
    line-height: 2em;
    font-size: 0.75em;
    text-align: left;
    list-style-type: none;
    -webkit-padding-start: 0.5em;
    /* fix indentation in Chrome */ }
    .socialBox ul li {
      background-image: url(../images/cog-3.png);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 16px; }

.subHeader {
  text-align: right;
  font-style: italic; }

a {
  font-size: 1em;
  color: #1ccb3b;
  text-decoration: none;
  border: 3px solid transparent; }
  a:hover {
    background-color: #107221;
    color: #d89f34;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 3px solid #0d5b1b; }
  a:visited {
    color: #107221; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Vollkron", "comic sans", courier, serif; }
