@import url(http://fonts.googleapis.com/css?family=Fenix|Poiret+One|Anton);
body {
  font-size: 16px;
  font-color: #1e786c;
  font-family: "Fenix", serif;
  line-height: 1.2em;
  background: #a64500;
  margin-bottom: 60px; }

a {
  color: #052C6E;
  border: 3px solid transparent;
  font-family: "Fenix", serif; }
  a:hover {
    background-color: #34D0BA;
    color: #A64500;
    font-weight: 700;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 3px solid #34d0ba; }
  a:visited {
    color: #052C6E; }

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#Container {
  width: 66%;
  background-color: #ffad73;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 3px solid #ffad73;
  border-right: 0px; }

.header {
  background: #ffad73;
  color: #ff6a00;
  width: 99%;
  height: 176px;
  padding-bottom: 2%;
  margin-bottom: 1%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: contet-box;
  box-sizing: content-box;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border: 3px solid #ffad73; }

.content {
  /* margin-left to clear the sidebar */
  float: left;
  /* width */
  width: 65%;
  background-color: #ff8f40;
  paddding-left: 2%;
  padding-right: 3%;
  padding-bottom: 9%;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border: 3px solid #a64500;
  border-radius: 5px 0px 0px 0px;
  -moz-border-radius: 5px 0px 0px 0px;
  -webkit-border-radius: 5px 0px 0px 0px;
  border: 3px solid #a64500;
  border-right: 0px;
  line-height: 1.5em;
  margin-bottom: 2em;
  /* Container for About Pages */
  /* Containers for Homepage */
  /* container class for portfolio */ }
  .content .innerContainer, .content .about, .content .resume, .content .projects {
    padding: 1% 3% 1% 3%; }
  .content .about {
    padding: 1% 3% 5% 2%; }
  .content .resume {
    /* First Paragraph style */ }
    .content .resume .education, .content .resume .job {
      margin-bottom: 1em; }
      .content .resume .education h2, .content .resume .education h3, .content .resume .education h4, .content .resume .job h2, .content .resume .job h3, .content .resume .job h4 {
        display: inline;
        font-size: 1.1em;
        font-family: "Poiret One", cursive;
        font-weight: 600; }
      .content .resume .education h4, .content .resume .job h4 {
        font-weight: 500;
        font-font-style: italic; }
      .content .resume .education ul, .content .resume .job ul {
        list-style: none; }
        .content .resume .education ul li, .content .resume .job ul li {
          background-image: url(../images/cog-3.png);
          background-repeat: no-repeat;
          padding-left: 16px; }
      .content .resume .education skills h3, .content .resume .education skills h4, .content .resume .job skills h3, .content .resume .job skills h4 {
        font-size: 1.1em;
        font-family: "Poiret One", cursive;
        font-weight: 600; }
      .content .resume .education skills p, .content .resume .job skills p {
        margin-left: 5%;
        margin-bottom: 0.5em; }
    .content .resume .profile {
      text-align: justify;
      width: 66%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em; }
    .content .resume .highlights {
      text-align: center;
      font-weight: 700;
      margin-left: auto;
      margin-right: auto; }
  .content .projects {
    /* Project Title */ }
    .content .projects .headers, .content .projects h3, .content .projects h4 {
      font-size: 1.1em;
      font-family: "Poiret One", cursive;
      font-font-weight: 600; }
    .content .projects h3 {
      float: left;
      text-align: left;
      margin-left: 5%; }
    .content .projects h4 {
      float: right;
      clear: left;
      text-align: right; }
    .content .projects hr {
      width: 75%;
      height: 1%;
      color: #ffad73;
      background-color: #ffad73;
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
      border: 3px solid #ff7d21; }
    .content .projects img {
      float: left;
      clear: right;
      margin-right: 2%;
      width: 250px;
      height: 137px; }
    .content .projects p {
      clear: right; }
    .content .projects .readMore {
      clear: both;
      width: 100%;
      float: right;
      text-align: right;
      font-weight: 600;
      font-style: italic; }

.sidebar {
  float: left;
  background: #ffad73;
  width: 35%;
  padding: 1%;
  /* Nested Tag Rules */
  /* Sidebar Link Appearance */
  /* Nav Rules */ }
  .sidebar ol, .sidebar ul {
    -webkit-margin-before: 1%;
    -webkit-margin-after: 1%;
    -webkit-padding-start: 20px;
    list-style: none;
    font-family: Anton, Impact, sans-serif;
    font-size: 20px;
    line-height: 1.5em; }
  .sidebar a {
    color: #000000;
    border: 3px solid transparent;
    text-decoration: none;
    font-family: Anton, Impact, sans-serif; }
    .sidebar a:hover {
      background-color: #00A08A;
      color: #000000;
      font-weight: 500;
      border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border: 3px solid #00a08a; }
    .sidebar a:visited {
      color: #000000; }
  .sidebar ul.pageNav {
    text-align: left; }

/* Footer Style Rules */
#footer {
  width: 100%;
  height: 60px;
  background-color: #ffad73;
  text-align: center;
  font-size: 12px;
  font-family: "Poiret One", cursive;
  font-weight: 700;
  clear: both;
  padding: 1% 0% 5% 0%; }
  #footer p {
    margin: 1% auto 5% auto; }
